body{/*
background-color: #eaba6e ; #fce5bd
  background: linear-gradient(white,#f5a61f);*/
  background-color: #fff;

}
.form-inline{
  float: right; !important
  border:solid 1px;
}

.navbar img{
  width: 16.6%;
}

.nav-item .nav-link{
  font-size: 1.1rem;
  font-weight: bold;
  color: #aaa;
}

.nav-link:active{
  color: #f5a61f;
}

.fixed-top{
    background-color: #fff !important;
    border: solid 1px #ddd;
}
.nav-link:hover{
  color: #f5a61f !important;
}


.container{
  font-weight:bold;
  text-align:center;
  margin-top: 10em;
}

.homeScreen > div{
  font-size: 4em;
  text-shadow: 1px 1px 2px grey;
}

.homeScreen div:first-child{
  margin-top: 3em;
  font-size:1.1em;
  margin-bottom: 1em;
}

.psColor{
  color:#f5a61f;
}

.homeScreen .btn{
  margin-top:1em;
  background-color: #f5a61f;
  color: white;
  font-size: 1.5em;
  box-shadow: 4px 4px 5px #aaa;
}

.homeScreen .btn:hover{
  background-color: #39a846;
}

body{
  padding-bottom: 5rem !important;
}

#whatis{
  margin-top:5em;
}

.anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

#whatis,#ourpartners,#about{
  margin: 15em auto;
}

.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }

  .modal-footer {
      background-color: #f9f9f9;
  }
  #myModal-chooseSubject .form-check-label span {
    color: #ccc;
  }
