.container-fluid{
  width:80%;
  margin-top:4em;
}

#navlist{
  overflow: hidden;
  background-color: rgba(255,255,255,1);
  position: fixed;
  top: 0;
  width:100%;
  opacity: 1;
}
ul#navlist{
  font-size: 1.3em;
  margin:0;
  padding:0;
  list-style-type: none;
}

ul#navlist li{
  display:inline;
}

ul#navlist li a{
  float: right;
  padding: 0.2em 1em;
  width: auto;
  color: #aaa;
  font-weight: bold;
  text-decoration: none;
}

ul#navlist li a:hover{
  color: #f5a61f;
}

#navlist img{
  height : 15%;
  width :15%;
}

.container{
  font-weight:bold;
  height:100%;
  width:100%;
  text-align:center;
  margin-top: 5em;
}

.homeScreen > div{
  font-size: 4em;
}

.homeScreen div:first-child{
  margin-top: 3em;
  font-size:1.1em;
  margin-bottom: 1em;
}

.psColor{
  color:#f5a61f;
}

.homeScreen .btn{
  margin-top:1em;
  background-color: #f5a61f;
  color: white;
  font-size: 1.5em;
}

.homeScreen .btn:hover{
  background-color:red;
}

#whatis,#ourpartners,#about{
  margin: 15em auto;
}

.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }

  .modal-footer {
      background-color: #f9f9f9;
  }
  #myModal-chooseSubject .form-check-label span {
    color: #ccc;
  }
